 <html>
 <head>
   <%= stylesheet_link_tag "index.css" %>
   <meta charset="utf-8">
 </head>
 <body>
  <ul>
    <li><%= link_to "Home", '/', :method => :get %></li>   
    <li><%= link_to "About", '/about', :method => :get %></li>
    <li><%= link_to "General", '/general', :method => :get %></li>
    <li><%= link_to "News & Sports", '/news', :method => :get %></li>
    <li><%= link_to "Music", '/music', :method => :get %></li>
    <li><%= link_to "Health", '/health', :method => :get %></li>
    <li style="float:right"><%= link_to "Login", '/login', :method => :get %></li>
  </ul>

<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>
</body>
</html>