<!DOCTYPE html>
<html>
<html lang="en">
<head>
	<%= stylesheet_link_tag "login.css" %>
	<meta charset="utf-8">
</head>
<body>
	<ul>
		<li><%= link_to "Home", '/home', :method => :get %></a></li>
		<li><%= link_to "News", '/news', :method => :get %></li>
		<li><%= link_to "About", '/about', :method => :get %></li>
		<li style="float:right"><%= link_to "Login", '/login', :method => :get %></li>
	</ul>
</body>
<p> InfoJams was created by Sam, Angie, Maddie, and Alice. </p>
<p> Made through <a href="https://adicu.com/Labs"> ADI Labs</a> <p>

</html>