<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "index.css" %>
</head>
<body>
<body>
 <ul>
    <li><%= link_to "Home", '/', :method => :get %></li>   
    <li><%= link_to "About", '/about', :method => :get %></li>
    <li><%= link_to "General", '/general', :method => :get %></li>
    <li><%= link_to "News & Sports", '/news', :method => :get %></li>
    <li><%= link_to "Music", '/music', :method => :get %></li>
    <li><%= link_to "Health", '/health', :method => :get %></li>
    <li style="float:right"><%= link_to "Login", '/login', :method => :get %></li>
  </ul>
  
<h1 style="text-align:center;"><button class="button button2">General Searches</button> </h1>
<table style="width:100%">

<table align="center">
  <tr>
    <th> <button class="button button2">What You Searched For</button> </th>
  </tr>
  <tr>
     <td style = "text-align:center;">Google</td>
  </tr>
  <tr>
     <td style = "text-align:center;">Google</td>
  </tr>
</table>
</body>
</html>