<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "index.css" %>
</head>

<body>
<div class="flex-container">
  <div class="flex-item"> <button class="button button3">Statistics</button> </div>
  <div class="flex-item"> <button class="button button3">Most Searched</button> </div>
</div>

<div class="flex-container1">
  <div class="flex-item"> <img src="https://www.mathsisfun.com/data/images/bar-graph-fruit.gif" alt="1"/> </div>
  <div class="flex-item"> <img src="http://tedteachersnetwork.pbworks.com/f/1285607143/wordle%20wordle!.PNG"/> </div>
</div>
<br>

<h1 style="text-align:center;"><button class="button button2">Searches by Category</button> </h1>
<table style="width:100%">
  <tr>
    <th> <button class="button button1"> <%= link_to('General', '/general', :method => :get) %> </button> </th>
    <th> <button class="button button1"> <%= link_to('News/Sports', '/news', :method => :get) %> </button> </th>
    <th> <button class="button button1"> <%= link_to('Music', '/music', :method => :get) %> </button> </th>
    <th> <button class="button button1"> <%= link_to('Health', '/health', :method => :get) %> </button> </th>
  </tr>
  <tr>
    <td style = "text-align:center;">Google</td>
    <td style = "text-align:center;"> <a href="url">This article</a></td>
    <td style = "text-align:center;"><a href="https://soundcloud.com/chancetherapper/favorite-song-ft-childish">This song</a></td>
    <td style = "text-align:center;"><a href="http://nyti.ms/2dWIpYW">Article title</a></td>
  </tr>
  <tr>
     <td style = "text-align:center;">Google</td>
    <td style = "text-align:center;"> This article</td>
    <td style = "text-align:center;">This song</td>
    <td style = "text-align:center;">Article title</td>
  </tr>
  <tr>
     <td style = "text-align:center;">Google</td>
    <td style = "text-align:center;"> This article</td>
    <td style = "text-align:center;">This song</td>
    <td style = "text-align:center;">Article title</td>
  </tr>
</table>

</body>
</html>
